/* Colores */

$primary_color_1: #fff;
$primary_color_2: #333;
$primary_color_3: #4a4a4a;
$primary_color_4: #183153;
$primary_color_5: #000000;
$primary_color_6: #bbb0b0;
$primary_color_7: #121111;