/* Estructura General */

@import "variables-generales";
@import "colores";
@import "fuentes";
@import "media-queries";

footer {
    background-color: $primary_color_1;
    text-align: center;
    font-family: "Questrial regular";
    @include mobile {
        width: 100%;
    }
    @include tablet {
        width: 60%;
        margin-left: 20%;
    }
}

.logo-nav-conteiner { 
    display: flex;
    flex-direction: row;
}

.logo {
    width:50%;
    margin-top: 9px;
    font-family: "Questrial regular";
    letter-spacing: 5px;
    font-size: 1.5em;
    @include mobile {
        .logo { 
            width: 100%;
        }
    }
}

.navegacion {
    width: 50%;
    text-align: end;
    @include mobile {
        width: 100%;
        margin-top: 1rem;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @include mobile {
            display: none;
        }
        @include mobile {
            .show {
                display: block;
            }
        }
        li {
            display: inline-block;
            @include mobile {
                display: block;
            }
            a {
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.4seg linear;
                border-radius: 5px;
                @include mobile {
                    transition: all 0.4seg linear;
                    border-radius: 5px;
                    font-size: 20px;
                    margin-bottom: 5px;
                    margin-top: 20px;
                    padding-left: 10px;
                }
                &:hover {
                    background: $primary_color_3;
                    @include mobile {
                        &:hover {
                            background: $primary_color_3;
                        }
                    }
                }
            }
        }
    }
}

body {
    font-family: "Roboto-Regular";
    color: $primary_color_2;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
    z-index: 10;
}

.fondo {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.header {
    background: $primary_color_2;
    color: $primary_color_1;
    padding: 0.90rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    @include mobile {
        line-height: 0em;
        z-index: 10;
    }
}

.header {
    a {
        color: $primary_color_1;
        text-decoration: none;
    }
}

.menu-icon {
    display: none;
    @include mobile {
        position: absolute;
        margin-left: 91%;
        display: block;
        cursor: pointer;
    }
}

.main {
    padding-top: 4.5rem;
}

.conteiner {
    width: 75vw;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    font-family: "Questrial regular";
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mobile {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column-reverse;
    }
}

.text {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    @include mobile {
        font-size: 20px;
    }
    @include tablet {
        font-size: 25px;
    }
}

.content-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    @include mobile {
        width: 100%;
        margin: auto;
        padding: 0.5rem 1rem;
    }
    @include tablet {
        width: 100%;
        margin: auto;
        padding: 0.5rem 1rem;
    }
    p {
        font-weight: lighter;
        text-align: center;
        font-size: 17px;
        @include mobile {
            font-size: 15px;
        }
        @include tablet {
            font-size: 16px;
        }
    }
}

#image {
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(15, 15, 1, .3);
    @include mobile {
        width: 90%;
    }
}

#linea {
    border-top: 10px solid $primary_color_2;
    height: 2px;
}

.galeria-3 {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 3rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 15%);
}

.galeria-2 {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 3rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 15%);
}

.foto img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #696464;
    opacity: 1;
    transition-duration: 0.3s;
    &:active {
        transform: scale(1.1);
    }
    &:hover{
        transform: scale(1.1);
    }
}

.pie-de-pagina {
    text-align: center;
}

.carrusel {
    width: 30vw;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 10px;
}

h2 {
    font-family: "Questrial regular";
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.linea {
    border-top: 10px solid $primary_color_2;
    height: 2px;
    @include mobile {
        width: 100%;
    }
}

.grupo-1 {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 25%);
    padding: 45px 0px;
    padding-top: 1%;
    @include mobile {
        width: 100%;
        grid-template-columns: repeat(1, 100%);
        grid-gap: 30px;
        padding: 35px 0px;
        padding-top: 1%;
        font-size: 15px;
    }
    @include tablet {
        width: 100%;
        justify-items: center;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 50px;
        padding: 45px 0px;
        padding-top: 1%;
    }
}

.box {
    width: 100%;
    h3 {
        font-size: 30px;
        @include mobile {
            font-size: 25px;
        }
    }
}

.icons {
    display: flex;
    justify-content:center;
    letter-spacing: 15px;
    @include mobile {
        display: flex;
        justify-content:center;
        letter-spacing: 15px;
    }
    li {
        text-decoration: none;
        list-style: none;
        font-size: 35px;
        @include mobile {
            font-size: 30px;
        }
        a {
            color: $primary_color_4;
            transition: all 0.4seg linear;
        }
    }
}

#in a:hover {
    color: #1156b0;
}

#ig a:hover {
    color: #E92973;
}

#fb a:hover {
    color: #1156b0;
}

#tw a:hover {
    color: #1D9BF0;
}

.conteiner-contact { 
    width: 60%;
    margin-left:20%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-bottom: 90px;
    @include mobile {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        display: flex ;
        flex-direction: column;
    }
    @include tablet {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        display: flex ;
        flex-direction: column;
    }
    @include desktop {
        padding-bottom: 330px;
    }
}

.mapa {
    width: 100%;
    height: 100%;
    @include mobile {
        width: 100%; 
        height: 350px;
    }
    @include tablet {
        width: 100%; 
        height: 350px;
    }
}

.iframe {
    width:100%; 
    height:100%;
    margin-top: 8%;
    margin-left: 8%;
    @include mobile {
        width: 85%; 
        height:100%;
    }
    @include tablet {
        width: 80%; 
        height: 100%;
    }
}

#contacto {
    text-align: center;
    font-family: "Questrial regular";
    color: $primary_color_1;
    letter-spacing: 1px;
    text-shadow: 2px 2px $primary_color_5;
}

.form-input {
    font-family: "Questrial regular";
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid $primary_color_6;  
    border-radius: 1em;                             
}

.form-cta {
    font-family: "Questrial regular";
    outline: none;
    border: none;
    font-size: 1rem;
    padding: .8em 1em; 
    border-radius: 1em;
    width: 40%;
    background-color: $primary_color_7;
    color: $primary_color_1;
    letter-spacing: 2px;
    font-weight: 400;
}

.form {
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-left: 5em;
    @include mobile {
        width: 60%;
        margin-left: 10%;
    }
}

.form-conteiner {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    margin-top: 70px;
}

#h1 {
    text-align: center;
    font-family: "Questrial regular";
    text-transform: uppercase;
}

#p {
    font-size: 18px;
}